**/base.txt
!common/requirements/base.txt

**/dbt-snowflake.txt
!common/requirements/dbt-snowflake.txt

**/dbt-redsfhit.txt
!common/requirements/dbt-redshift.txt

**/dbt-bigquery.txt
!common/requirements/dbt-bigquery.txt

**/dbt-databricks.txt
!common/requirements/dbt-databricks.txt

**/set_adapters_app.sh
!/common/set_adapters_app.sh

**/providers.txt
!/common/providers/providers.txt

ci/multiarch/requirements.txt

ci/airflow/plugins
airflow/airflow/plugins

ci/airflow/providers
airflow/airflow/providers
