postgres_db_provisioner:
  host: {{ database_host }}
  db: datacoves
  user: datacoves_admin
  pass: "{{ database_password }}"

# My research indicates this DSN isn't really very secret and there isn't
# a serious risk in putting this in our GIT repo.  It makes our configuration
# much simpler to have it here, so I would rather just have it here.
# - sconley
operator_sentry_dsn: "https://b4d54fe4d14746729baa351a2d3bf4f9@o1145668.ingest.sentry.io/4504730556170240"

grafana:
  postgres_password: "{{ cluster_secrets['grafana']['postgres_password'] }}"
  admin_password: "{{ cluster_secrets['grafana']['admin_password'] }}"
  loki:
    provider: minio
    password: "{{ cluster_secrets['grafana']['loki']['password'] }}"

core_minio_config:
  enabled: true
  bucket: "dbt-api"
  username: "admin"
  password: "{{ cluster_secrets['core_minio_config']['password'] }}"

core_db_service_account_read_only:
  username: datacoves_ro
  password: ThisIsJustATest
